.navbar-inverse {
    background-color: blue;
    border-color: blue;
	color:red;
}
#myNavbar{
    background-color: blue;
    border-color: blue;
	color:red;
}
#myNavbar:hover{
  
	color:white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

footer{
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
    margin-top: 20px;
}

.text{
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
    margin-top: 2px;
}

#container{
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}